@import url("https://fonts.googleapis.com/css2?family=Freeman&display=swap");

:root {
  margin: 0 20px;
  --font: "Freeman", "Roboto", "Courier New", Courier, monospace;
  --default-text: #ffffffc7;
  --white-text: #fff;
  --back-color: #000000dc;
  --element-color: #f0db4f;
  --font-shadow: 2px 2px 5px rgba(0, 0, 0, 1);
}

body {
  font-family: var(--font);
  background: var(--back-color);
  color: var(--default-text);
}

h1 {
  font-size: 42px; /* Default size: 34px */
}

.active {
  text-shadow: var(--font-shadow);
  color: var(--white-text);
}

.p-text {
 font-size: 2rem;
 font-weight: 600;
}

.img-mod {
  width: 440px;
}